@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
 
} */
.homepage {
  background-size: cover;
    background-image: linear-gradient(rgba(16, 16, 16, 0.4), rgba(16, 16, 16, 0.9)), url(https://image.tmdb.org/t/p/w1280/euFbK14mZe1lYOTiQF95tjyJlgL.jpg);
    background-position: center center;
}